html, #aisle {
  height: 100%;
  background-color: #101010;
}
#paint{
	border-radius: 15px;
	position: fixed;
	background-color: #777;
	width: 150px;
	height: 520px;
	text-align: center;
}
.color{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid #222;
	margin: 10px 20px 10px 20px;
}
button a:link{
	text-decoration: none;
	color: #333;
}
button a:hover{
	color: orange;
}
#canvas{
	padding: 20px;
	text-align: center;
	width: 555px;
	height: 680px;
	border: 5px solid #999;
	margin: 50px 300px 50px 300px;
}
.box{
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #111;
	background-color: #777;
	margin: 0px;
	z-index: 1;

}